{% extends 'basicTemplate.html' %}
{% load static %}
{% block leftMain %}
<div class="container leftMain__logoContainer">
    <img src="{%static 'img\logoqrld.svg' %}" class="logoqrld" alt="">
</div>
<div class="container-fluid leftMain__logInSignUpBlock">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.</p>

    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Log Out</a>
        </li>
    </ul>
</div>
{% endblock %}
{% block rightMain %}

<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'printProfile' %}"> QR Code</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'printProfilelinkAdmin' %}">Link Admin</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'printProfile' %}">Post History</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'printProfileBusqueda' %}">Busqueda</a>
    </li>
</ul>
<form action="" method="POST" class="formProfile">{% csrf_token %}
    <!-- facebook -->
    <div class="mb-3">
        <input type="text" name="facebook" class="form-control" id="exampleInputEmail1" placeholder="facebook"
            aria-describedby="emailHelp">
    </div>
    <!-- instagram -->
    <div class="mb-3">
        <input type="text" name="instagram" class="form-control" id="exampleInputEmail1" placeholder="instagram"
            aria-describedby="emailHelp">
    </div>
    <!-- whatsapp -->
    <div class="mb-3">
        <input type="email" name="whatsapp" class="form-control" id="exampleInputEmail1" placeholder="whatsapp"
            aria-describedby="emailHelp">
    </div>
    <!-- twitter  -->
    <div class="mb-3">
        <input type="password" name="twitter" class="form-control" placeholder="twitter" id="exampleInputPassword1">
    </div>
    <!-- CHECK TEST 
<div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
</div>-->
    <!-- SUBMIT -->
    <button type="submit" class="btn btn-primary">Completar</button>

    {% endblock %}