body {
  background-color: #fff;
}

.bodySection .leftMain {
  background-color: #888792;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2%;
  margin-top: 3%;
}

.bodySection .leftMain p {
  text-align: justify;
  color: #fff;
}

.bodySection .leftMain .leftMain__logoContainer {
  width: 50%;
  opacity: 0.2;
  margin-top: 5%;
}

.bodySection .leftMain .leftMain__logInSignUpBlock {
  padding: 2%;
}

.bodySection .leftMain .leftMain__logInSignUpBlock form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5%;
  margin-top: 1%;
}

.bodySection .leftMain .leftMain__logInSignUpBlock form input {
  border: none;
  background-color: #c1c1c3;
  margin-top: 2%;
}

.bodySection .leftMain .leftMain__logInSignUpBlock form input::-webkit-input-placeholder {
  border: none;
  color: #000;
}

.bodySection .leftMain .leftMain__logInSignUpBlock form input:-ms-input-placeholder {
  border: none;
  color: #000;
}

.bodySection .leftMain .leftMain__logInSignUpBlock form input::-ms-input-placeholder {
  border: none;
  color: #000;
}

.bodySection .leftMain .leftMain__logInSignUpBlock form input::placeholder {
  border: none;
  color: #000;
}

.bodySection .leftMain .leftMain__logInSignUpBlock form .btn-primary {
  font-size: 1.2rem;
  padding: 2%;
  margin-top: 3%;
  background-color: #000;
}

.bodySection .leftMain .leftMain__logInSignUpBlock form .btn-primary:hover {
  padding: 2%;
  background-color: #c1c1c3;
  color: #000;
  font-weight: bold;
}

.bodySection .leftMain .leftMain__logInSignUpOptions {
  font-size: 1.2rem;
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.bodySection .leftMain .leftMain__logInSignUpOptions a {
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
}

.bodySection .leftMain .leftMain__logInSignUpOptions a:hover {
  color: #00288a;
  opacity: 1;
}

.bodySection .leftMain .leftMain__logInSignUpOptions .leftMain__logInSignUpOption__Left {
  border-right: rgba(255, 255, 255, 0.2) solid 0.01rem;
  text-align: center;
}

.bodySection .leftMain .leftMain__logInSignUpOptions .leftMain__logInSignUpOption__Right {
  border-left: rgba(255, 255, 255, 0.2) solid 0.01rem;
  text-align: center;
}

.bodySection .rightMain {
  margin-top: 5%;
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bodySection .rightMain .rightBackgorund {
  background-image: url("https://media.giphy.com/media/xUA7aS269qm5PX7fa0/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* 
  
  eef8ff Background azul claro
  00288a Azul oscuro 30 
  113a9f Azul contraste
  3ebcf9 Azul claro 10
  ff9b06 Naranja 10
  

  191645
  43c6ac
  ffffff
  e5e5e5
  */
/*# sourceMappingURL=style.css.map */